table, th, td {
    border: 1px solid black;
}

td {
    width: 14%;
}

table {
    border-collapse: collapse;
    width: 1000px;
    height: 400px;
}

#month_year_select_div {
    padding-bottom: 10px;
}

#days_row {
    height: 20px;
}
