#calendar_table, #calendar_table td {
    border: 1px solid black;
}

#calendar_table td {
    width: 14%;
}

#calendar_table tr {
    height: 14%;
}

#calendar_table {
    border-collapse: collapse;
    width: 1000px;
    height: 400px;
}

h1 {
    margin-bottom: 10px;
}

#month_year_select_div {
    padding-bottom: 10px;
}

#calendar_table #days_row {
    height: 20px;
}
